@import url('https://fonts.googleapis.com/css?family=Tajawal');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face{
    src: url('../fonts/droid-font.ttf');
    font-family: 'droid-font';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './components/variables';


.navbar{
    font-family: $en_font;
    background: linear-gradient(-135deg,$bgColor-1,$bgColor-2);
    color: #333333;

}

body{
    background-color: #EEEEEE;
}

.root{
    padding-top: 50px;
    
    .left-side{
        padding: 10px 5px;
        overflow: hidden;

        .header{
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;

            .header__img{
                display: flex;
                align-items: center;
                margin: 10px;
                
                .img{
                    height: 150px;
                    width: 150px;
                    overflow: hidden;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img{
                        max-width: 150px;
                        max-height: 150px;
                    }
                }
            }

            .header__name{
                display: flex;
                align-items: center;
                padding: 10px 15px;

                .name{
                    font-family: $en_font;

                    font-size: 27px;
                    font-weight: 700;
                }
            }
        }

        .content{
            display: flex;
            flex-direction: column;
            font-family: $en_font;

            .content__user-bio{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-bottom: 20px;

                .bio__title{
                    width: 100%;
                    padding: 5px 0px;

                    .title{
                        font-size: 20px;
                        font-weight: 650;
                    }
                }

                .bio{
                    padding: 0px 10px;
                    font-size: 17px;
                    font-weight: 700;
                }
            }

            .content__user-links{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                padding: 0px 10px;
                
                .user-links{
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    .user-link{
                        color: black;
                        text-decoration: none;
                        font-size: 20px;
                        margin: 5px;
                        padding: 5px;
                        transition: transform 0.3s;

                        &:hover{
                            transform: scale(1.20);
                        }
                    }
                }
            }
        }
    }

    .right-side{
        padding: 25px 5px;
        
        .content{
            .content__header{
                width: 100%;
                margin-bottom: 25px;

                .header__title{
                    background-color: white;
                    padding: 10px 25px;
                    box-shadow: 0px 0px 5px rgba($color: #333333, $alpha: 0.1);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .title{
                        font-family: $en_font;
                        font-weight: 700;
                        font-size: 30px;
                    }
                }

            }

            .content__show{
                padding: 10px 5px;

                .row{
                    .col-3{
                        .project-card{
                            background-color: white;
                            overflow: hidden;
                            border-radius: 2px;
                            transition: box-shadow 0.3s;

                            &:hover{
                                box-shadow: 0px 0px 15px rgba($color: #333333, $alpha: 0.4);
                            }
                            .project__img{
                                overflow: hidden;
                                padding: 5px;

                                .img{
                                    overflow: hidden;
                                    width: 100%;
                                    max-height: 200px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    img{
                                        max-height: 200px;
                                        max-width: 100%;
                                    }
                                }
                            }

                            .project__info{
                                padding: 15px 5px;
                                font-family: $en_font;
                                position: relative;

                                .info__project-name{
                                    font-size: 20px;
                                    font-weight: 600;
                                    width: 100%;
                                    padding-left: 5px;
                                    
                                    a{
                                        color: black;
                                        text-decoration: none;
                                    }
                                }

                                .info__project-date{
                                    font-size: 15px;
                                    color: #BFBFBF;
                                    width: fit-content;
                                    position: absolute;
                                    right: 10px;
                                    bottom: 0px;
                                }

                            }
                        }
                    }
                }
            
                .empty-projects{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 50px;

                    img{
                        max-width: 450px;

                        @media (max-width: 650px) {
                            max-width: 250px;
                        }

                        
                        @media (max-width: 500px) {
                            max-width: 250px;
                        }
                    }

                }
            }
        }
    }
}


